*{
    margin: 0px;
    width: auto;
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    
    font-style: normal;
}
#header{
    
    background-color:  #303030;
    color: #FFFFFF;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-row-align: center;
    width: auto;
    padding-bottom: 50px;
    
}
#title_header{
    font-weight: 600;
    margin-top: 206px ;
    margin-left: 62px;
    line-height: 72px;
    font-size: 60px;
}
#text_header{
    font-weight: 500;
    margin-top: 20px;
    margin-left: 62px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 149px;
}
#menu_info{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-size: 40px;
    font-weight: 600;
    line-height: 28px;
    background-color: #f9f9f9;
    padding: 50px;
    gap: 99px;
    background-size: cover;
    padding-left: 121px;
    
    
}
.texto_menu_info{
   font-weight:400;
   font-size: 20px;
   line-height: 28px;
}
#container{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin-top: 82px;
    align-items: center;
    margin-left: 77px;
    gap: 64px;
    margin-bottom: 92px;
}

#text_container{
    font-weight: 500;
    font-size: 40px;
    line-height: 20px;
}
.textt{
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}
#form{
    text-align: center;
    background-color: #303030;
}
#titulo-form{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding-top: 87px;
}
input{
    width: 508px;
    height: 72px;
    background-color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 10px;
    padding-left:10px ;
    margin-top: 30px;
}
button{
    background-color:#247BA0 ;
    height: 74px;
    width: 286px;
    color: #eaece5;
    border: 0px;
    border-radius:10px ;
    margin-top: 80px;
    margin-bottom: 87px;
    font-weight: bolder;
    cursor: pointer;
    background-color:#C07212;
    ;
}
